<section id="idRecommendation">
	<h3>Recherche d'un restaurant</h3>
	<form ng-controller="restaurantControlleur" class="form-inline">
		<table>
			<tr class="row">
				<td><label>Type de cuisine </label></td>
				<td>
				<input type="radio" ng-model="critere.restaurant.categorie"
					value="1" /><label>Traditionnel</label> 
				<input type="radio"
					ng-model="critere.std.typePlat" value="2" /><label>Etrangère</label> 
				</td>
			</tr>
			<tr class="row">
				<td><label>Pays de sélection </label></td>
				<td>
					<!-- faire une select box -->	
				</td>
			</tr>			
			<tr class="row">
				<td><label>Nom du restaurant :</label></td>
				<td><input type="text" ng-model="critere.restaurant.nom" name="nom" /></td>
			</tr>
			<tr class="row">
				<td><label>Note du restaurant :(nombre d'étoile)</label></td>
				<td>
					<!-- mettre une select box -->
				</td>
			</tr>
			<tr class="row">
				<td><label>Avec des avis</label></td>
				<td>
					<input type="radio" ng-model="critere.restaurant.avis"
						value="1" /><label>Oui</label> 
					<input type="radio"
						ng-model="critere.restaurant.avis" value="0" /><label>Non</label> 
				</td>
			</tr>
		</table>

		<div>
			<button class="btn btn-primary" name="recherche"
				value="Lancer la recherche" ng-click="rechercher()">Lancer la recherche</button>
		</div>

	</form>
</section>
	
