<div data-ng-controller="navigationControlleur">
	<nav id="IdBarreNavigationOngletNiveau2">
		<!-- ng-show="!init" -->
		<a href="#/recherche" class="btn btn-success" ng-click="choixTemplateRecette(1)">Rechercher</a> 
		<!-- ng-show="init" -->
		<a href="#/recette" class="btn btn-success" ng-click="choixTemplateRecette(2)">Recette</a>
		<a href="#/preparation" class="btn btn-success" ng-click="choixTemplateRecette(3)">Préparation</a>
		<a href="#/avis" class="btn btn-success" ng-click="choixTemplateRecette(4)">Avis</a>
	</nav>
</div>