<div>
<section title="Avis sur la recette">
<h4>Avis sur la recette</h4>
<table class="table table-striped table-bordered table-condensed">
	<tr>
        <td align="left">date</td>
        <td align="left">Commentaire</td>
        <td align="left">Emis par</td>		            
    </tr>
	<tr ng-repeat="commentaire in recetteOnLoad.commentaires">
        <td align="left"></td>
        <td align="left">{{commentaire.description}}</td>
        <td align="left">{{commentaire.personne.nom}}, {{commentaire.personne.prenom}}</td>
    </tr>
</table>
<button id="ajouterAvis" class="btn-info" ng-click="Ajouter()">Ajouter un avis</button>
<button id="retourRecherche" class="btn-info" ng-click="retour()">Retour</button>		
</section>
</div>