<div>
<section title="Detail de la recette">
<h4>Detail de la recette:</h4>
	
<table class="table table-striped table-bordered table-condensed">
		<tr>
            <td align="left">nom du plat : </td><td>{{recetteOnLoad.nomRecette}}</td>
            <td align="left">Pays d'origine</td><td>{{recetteOnLoad.pays.libelle}}</td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="left">
            <img class="user_photo" data-ng-src="data:image/png;base64,{{recetteOnload.imageBase64}}"/>
            </td>
		</tr>
</table>
</section>
</div>

<button id="retourRecherche" class="btn-info" ng-click="retour()">Retour</button>