
<!-- on arrive sur une liste d'utilisateur -->
<section id="idResultat" ng-show="init">
	<h2>Liste des utilisateurs</h2>
	<table class="table table-striped table-bordered table-condensed" ng-init="rechercher()">
		<thead>
			<td align="left">Nom</td><td align="left">Prenom</td><td align="left">email</td><td></td>
		</thead>
		<tr data-ng-repeat="personne in listePersonne">
			<td align="left">{{personne.nom}}</td>
			<td align="left">{{personne.prenom}}</td>
			<td align="left">{{personne.email}}</td>
			<td align="left">
				<a ng-click="modifier($index)" ><img id="iconModifier" ng-src="./img/icones/modification_icon_ENABLED.gif"  /></a>
				<a ng-click="supprimer($index)"><img id="iconSupprimer" ng-src="./img/icones/inactiver_ENABLED.gif"  /></a>
			</td>
		</tr>
	</table>
	
	<button ng-click="creer()" class="btn-info">Ajouter</button>
</section>

<div id="panelAjoutUtilisateur" ng-show="!init" ng-include="pageCreationUser">


</div>
